<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Przestrzenie, które opowiadają historie...</h2>
                <hr class="light">
                <p class="text-faded">Wnętrza mają w sobie emocje – są echem naszych doświadczeń, potrzeb i estetycznych wyborów. Projektowanie to dla mnie odkrywanie tej ukrytej narracji i nadawanie jej materialnej formy. Każda przestrzeń ma swój własny rytm, proporcje i detale, które mogą stworzyć harmonię lub wprowadzić dysonans. Moim celem jest uchwycenie tego balansu.</p>
                <a href="#services" class="btn btn-primary btn-xl page-scroll">Więcej...</a>
            </div>
        </div>
    </div>
</section>
