<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mam to, czego szukasz!</h2>
                <hr class="light">
                <p class="text-faded">Tworzę unikalne i funkcjonalne wnętrza, które odzwierciedlają Twój styl i potrzeby. Moje projekty łączą estetykę z komfortem, a cały proces jest prosty i przejrzysty. Zmień swoją przestrzeń bez kompromisów!</p>
                <a href="#services" class="btn btn-primary btn-xl page-scroll">Więcej...</a>
            </div>
        </div>
    </div>
</section>
