<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <!-- Salon -->
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#modalSalon">
                    <img src="img/portfolio/salon_2.jpg" class="img-responsive" alt="Salon">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Kategoria</div>
                            <div class="project-name">Salon</div>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Kategoria 2 -->
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#modalKategoria2">
                    <img src="img/portfolio/kuchnia_3.jpg" class="img-responsive" alt="Kategoria 2">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Kategoria</div>
                            <div class="project-name">Kuchnia</div>
                        </div>
                    </div>
                </a>
            </div>
            
            <!-- Kategoria 3 -->
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box" data-toggle="modal" data-target="#modalKategoria3">
                    <img src="img/portfolio/lazienka_1.jpg" class="img-responsive" alt="Kategoria 3">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">Kategoria</div>
                            <div class="project-name">Łazienka</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Modal Salon -->
<div class="modal fade" id="modalSalon" tabindex="-1" role="dialog" aria-labelledby="modalSalonLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalSalonLabel">Salon - Realizacje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Możesz dodać tutaj zdjęcia z tej kategorii -->
                <div class="row">
                    <div class="col-md-4">
                        <img src="img/portfolio/salon_1.jpg" class="img-fluid" alt="Salon 1">
                    </div>
                    <div class="col-md-4">
                        <img src="img/portfolio/salon_2.jpg" class="img-fluid" alt="Salon 2">
                    </div>
                    <div class="col-md-4">
                        <img src="img/portfolio/salon_3.jpg" class="img-fluid" alt="Salon 3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Kategoria 2 -->
<div class="modal fade" id="modalKategoria2" tabindex="-1" role="dialog" aria-labelledby="modalKategoria2Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalKategoria2Label">Kuchnia - Realizacje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Zdjęcia dla Kategorii 2 -->
                <div class="row">
                    <div class="col-md-4">
                        <img src="img/portfolio/kuchnia_1.jpg" class="img-fluid" alt="Kategoria 2-1">
                    </div>
                    <div class="col-md-4">
                        <img src="img/portfolio/kuchnia_2.jpg" class="img-fluid" alt="Kategoria 2-2">
                    </div>
                    <div class="col-md-4">
                        <img src="img/portfolio/kuchnia_3.jpg" class="img-fluid" alt="Kategoria 2-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Kategoria 3 -->
<div class="modal fade" id="modalKategoria3" tabindex="-1" role="dialog" aria-labelledby="modalKategoria3Label" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalKategoria3Label">Łazienka - Realizacje</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Zdjęcia dla Kategorii 3 -->
                <div class="row">
                    <div class="col-md-4">
                        <img src="img/portfolio/lazienka_1.jpg" class="img-fluid" alt="Kategoria 3-1">
                    </div>
                    <div class="col-md-4">
                        <img src="img/portfolio/lazienka_2.jpg" class="img-fluid" alt="Kategoria 3-2">
                    </div>
                    <div class="col-md-4">
                        <img src="img/portfolio/lazienka_3.jpg" class="img-fluid" alt="Kategoria 3-3">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
