<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Filary Tworzenia</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-users wow bounceIn text-primary"></i>
                    <h3>Rozmowy o przestrzeni</h3>
                    <p class="text-muted"> Każdy projekt zaczyna się od słuchania. Analizuję nie tylko układ wnętrza, ale przede wszystkim osobę, która będzie w nim żyć. To rozmowa o jej potrzebach, upodobaniach, estetycznych preferencjach i emocjach, jakie chce czuć w danym miejscu. W ten sposób projekt staje się nie tylko funkcjonalny i spójny wizualnie, ale też dopasowany do stylu życia i wrażliwości użytkownika.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lightbulb wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Kompozycja i forma</h3>
                    <p class="text-muted">Przestrzeń to więcej niż suma ścian i mebli – to gra światła, kolorów, proporcji i rytmu. Starannie dobieram układ i skalę elementów, tak aby wnętrze było harmonijne, czytelne i intuicyjne w użytkowaniu. Każdy detal, od rozmieszczenia linii po zestawienie faktur, wpływa na odbiór przestrzeni. Dążę do tego, by forma nie tylko cieszyła oko, ale także budowała atmosferę i nadawała wnętrzu charakter.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-ruler-combined wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Detal i struktura</h3>
                    <p class="text-muted"> To właśnie detale nadają wnętrzu indywidualny charakter. Faktura materiałów, precyzja wykończenia, a także techniczne aspekty projektu – rysunki wykonawcze, układy funkcjonalne, ergonomia – wszystko to wpływa na ostateczny kształt przestrzeni.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-couch wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Home staging</h3>
                    <p class="text-muted">Czasem wystarczy drobna zmiana, by wnętrze nabrało nowego życia. Moja praca to również subtelna interpretacja istniejących przestrzeni – przekształcanie ich tak, by były bardziej intuicyjne, spójne i dopasowane do osób, które w nich żyją.</p>
                </div>
            </div>
        </div>
    </div>
</section>
